body {
    margin: 0;
    overflow: hidden;
}

#stats {
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.151);
}

.crosshair-line {
    position: absolute;
    background-color: white;
    pointer-events: none;
    /* so it doesn't block mouse clicks */
}

.vertical {
    width: 1px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.horizontal {
    height: 1px;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}